<h1 style="margin-top: 30px; border-bottom: solid 2px black;">Cart</h1>

{{!-- <table class="cart-table">
    <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
    </tr>
    <tr class="cart-row">
        <td>ITEM 1</td>
        <td>$22.00</td>
        <td>4</td>
        <td><button class="btn btn-danger">Remove</button></td>
    </tr>
    <tr class="cart-row">
        <td>ITEM 2</td>
        <td>$18.00</td>
        <td>4</td>
        <td><button class="btn btn-danger">Remove</button></td>
    </tr>
</table>

 --}}
<div class="cart-row">
    <span class="cart-item cart-header cart-column">Item</span>
    <span class="cart-price cart-header cart-column">Price</span>
    <span class="cart-quantity cart-header cart-column">Quantity</span>
</div>
 <div class="cart-items">

 </div>

 <div class="cart-total">
     <strong class="cart-total-title">Total:</strong>
     <span class="cart-total-price">$0.00</span>
 </div>

 <button class="btn btn-primary btn-purchase" type="button" style="display: block; width: 100%;">Purchase</button>