<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Northwest Cultivation</title>

    {{!-- Bootstrap --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script rel="stylesheet" src="./css/style.css"></script>
    <link href="https://fonts.googleapis.com/css2?family=Girassol&family=Holtwood+One+SC&family=IM+Fell+English+SC&family=Rhodium+Libre&family=Rye&family=Smokum&family=Stint+Ultra+Expanded&display=swap" rel="stylesheet">
        {{!-- 
        font-family: 'Girassol', cursive;
font-family: 'Holtwood One SC', serif;
font-family: 'IM Fell English SC', serif;
font-family: 'Rhodium Libre', serif;
font-family: 'Rye', cursive;
font-family: 'Smokum', cursive;
font-family: 'Stint Ultra Expanded', cursive; 
--}}
    <style>
        body {
            font-family: 'Girassol', cursive;
            font-size: 1.2rem;
            background: rgb(78, 32, 5);
        }
        h1, h2, h3, h4, h5, h6 {
            text-shadow: 0 0 2px black;
        }
        a {
            color: rgb(138, 58, 11);
            text-shadow: 0 0 2px black;
        }

        .testing-area {
            box-shadow: 0 0 30px rgb(138, 58, 11);
        }
        .employee-btn {
            box-shadow: 0 0 30px rgb(138, 58, 11), inset 0 0 10px rgb(138, 58, 11);
            border: groove 2px rgb(138, 58, 11);
        }
        .container {
            background: rgb(182, 141, 89);
            box-shadow: inset 0 0 40px rgb(138, 58, 11), 0 0 30px black;
            margin-bottom: 0;
            padding-bottom: 20px;
            padding-top: 80px;
            min-height: 100vh;
            
        }
        .social-media {
            text-align: center;
            width: 100%;
        }
        .social-media span {
            padding: 10px;
        }
        .social-media img {
            width: 40px;
        }
        .card {
            background: rgb(253, 209, 152);
            box-shadow: 0 0 20px rgb(138, 58, 11), inset 0 0 50px rgb(119, 91, 13);
        }
        .nav {
            box-shadow: 0 0 20px rgb(138, 58, 11);
        }
        .navbar {
            background: rgb(253, 209, 152);
        }
        .sales-table {
            text-align: center;
        }
        .sales-table td {
            box-shadow: inset 0 0 8px rgb(138, 58, 11);
            border: solid 1px black;
            background: rgb(182, 141, 89);
        }

        .sales-table th {
            border: solid 1px black;
            color: white;
            background: rgb(238,89,36);
            {{!-- background: rgb(21, 180, 15); --}}
        }
        .zunbudz-page {
            background: rgb(48,60,88);
            border-radius: 8px;
            height: auto;
            padding: 20px;
        }
        .zunbudz-page img {
            border-radius: 50%;
            box-shadow: 0 0 20px rgb(238,89,36);
            margin-top: 20px;
        }
        .zunbudz-page h1 {
            color: rgb(238,89,36);
            text-align: center;
            text-shadow: 0 0 2px white;
        }
        .zunbudz-page h2 {
            text-shadow: 0 0 6px rgb(238,89,36);
            text-align: center;
            color: white;
        }
        .for-sale {
            position: fixed;
            top: 45%;
            left: 0;
            width: 100vw;
            background: rgba(255, 0, 21, 0.452);
            z-index: 500;
        }
        .for-sale h1 {
            font-size: 4rem;
            color: white;
            text-align: center;
        }
        .for-sale h2 {
            font-size: 3rem;
            color: white;
            text-align: center;
        }
        .for-sale p {
            text-align: center;
            color: white;
        }
    </style>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; box-shadow: 0 5px 10px black; position: fixed; top: 0; z-index: 1000; width: 96vw; left: 2vw;">
  <a class="navbar-brand" style="color: rgb(238,89,36); font-family: 'IM Fell English SC', serif; font-size: 1.5rem;" href="/">Northwest Cultivation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/customer">Dashboard</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Products
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/plants">Plants</a>
          <a class="dropdown-item" href="/flowers">Flowers</a>
          <a class="dropdown-item" href="/products">Products</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/all-products">See All Products</a>
        </div>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0" action="/to-do" method="POST">
      <input class="form-control mr-sm-2" name="todo" type="text" placeholder="Add To Do" aria-label="To Do">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add</button>
    </form>
    <div class="social-media">
        <span><a href="https://www.facebook.com/nwcultivation" target="_blank"><img src="/images/facebook.png" alt="Facebook"></a></span><span><a href="https://www.twitter.com/ncultivation" target="_blank"><img src="/images/twitter.png" alt="Twitter"></a></span><span><a href="https://www.instagram.com/northwestcultivation" target="_blank"><img src="/images/instagram.png" alt="Instagram"></a></span>
    </div>
  </div>
</nav>
<div class="for-sale">
    <h1>Price</h1>
    <h2>For Website</h2>
    <h1>$2,500.00</h1>
    <p>Need $1000.00</p>
    <p>To Continue Building</p>
</div>
    {{{ body }}}

            <a class="text-center my-4 employee-btn" style="display: block; font-size: 30px; font-weight: bold; background: #aaa; border-radius: 8px; padding: 10px;" href="/employee">Employee Dashboard</a>
    </div>
</body>
</html>