<h1 class="text-center my-4">About Us</h1>

<h3 class="text-center my-4" style="color: rgb(238,89,36);">WE'RE NEW ENGLAND'S PREMIER HEMP NURSERY.</h3>

<div class="row">


  <div class="col-sm-12">
   
<div class="card mb-3" style="background: rgb(238,89,36); color: white;">
  <img src="/images/about1.webp" class="card-img-top" alt="About 1">
  <div class="card-body">
   <h3 class="card-title text-center">Superior Cultivars, Greater Harvest Predictability</h3>
   <hr>
        <p class="card-text">Northwest Cultivation is the exclusive U.S. hemp nursery for Hendrx Farm genetics-approved seeds and seedlings.  Hendrx Farm, based in Humboldt County, California, is an internationally recognized leader in genetic research and cannabis breeding techniques. Visit them at <a href="https://hendrx.farm" target="_blank" style="color: white; text-decoration: underline;">https://www.hendrx.farm</a>.</p>
  </div>
</div>
</div>
</div>
<div class="row">


  <div class="col-sm-6">
   
<div class="card mb-3" style="background: rgb(238,89,36); color: white;">
  <img src="/images/about2.webp" class="card-img-top" alt="About 2">
  <div class="card-body">
   <h3 class="card-title text-center">Nurtured Naturally</h3>
   <hr>
        <p class="card-text">Our organic hemp nursery includes a sustainable greenhouse operation incorporating industry best practices as well as our own proprietary cultivation methodologies developed over twenty years of bi-coastal experience.</p>
  </div>
</div>
</div>
  <div class="col-sm-6">
<div class="card mb-3" style="background: rgb(238,89,36); color: white;">
  <img src="/images/about3.webp" class="card-img-top" alt="About 3">
  <div class="card-body">
    <h3 class="card-title text-center">Curation Before Cultivation</h3>
    <hr>
    <p class="card-text">We'll consult with you to develop genetic selection criteria appropriate for your harvest and business objectives. We work only with science-grounded labs and breeders and provide full regulatory documentation and COA's to verify your selections.</p>
  </div>
</div>
</div>
</div>