<h1 class="text-center my-4">Contact Us</h1>

<form action="/needs-info" method="POST" style="background: rgb(238,89,36); color: white; padding: 30px; border-radius: 8px;">
  <div class="form-group">
    <label for="f_name" style="width: 120px;">First Name</label>
    <input type="text" name="f_name" id="f_name">
  </div>
    <div class="form-group">
    <label for="l_name" style="width: 120px;">Last Name</label>
    <input type="text" name="l_name" id="l_name">
    </div>
      <div class="form-group">
    <label for="business_name" style="width: 120px;">Business Name</label>
    <input type="text" name="business_name" id="business_name">
      </div>
        <div class="form-group">
    <label for="phone" style="width: 120px;">Phone</label>
    <input type="text" name="phone" id="phone">
    </div>
      <div class="form-group">
    <label for="email" style="width: 120px;">Email</label>
    <input type="email" name="email" id="email">
    </div>
      <div class="form-group">
    <label for="country" style="width: 120px;">Country</label>
    <input type="text" name="country" id="country">
      </div>
        <div class="form-group">
    <label for="state" style="width: 120px;">State</label>
    <input type="text" name="state" id="state">
        </div>
        <hr style="box-shadow: 0 0 5px white; border: solid 1px white;">
          <div class="form-group text-center" style="width: 100%;">
    <label for="info_body" style="width: 120px; display: block;">Questions:</label>
    <textarea name="info_body" id="info_body" cols="50" rows="10"></textarea>
          </div>
    <input type="submit" value="Submit" style="display: block; width: 100%;">
</form>