<h1 class="text-center my-4">Contact Us</h1>


<div class="card" style="padding: 20px; padding-top: 50px; margin-bottom: 30px;">

<a  class="text-center" style="display: block; color: rgb(238,89,36); font-size: 1.3rem;" href="mailto:northwestcultivation@gmail.com">NORTHWESTCULTIVATION@GMAIL.COM</a>
<a  class="text-center my-4" style="display: block; color: rgb(238,89,36); font-weight: bold; font-size: 2rem;" href="tel:8603640403">860.364.0403</a>
</div>
<form action="/needs-info" method="POST" style="background: rgb(238,89,36); color: white; padding: 30px; border-radius: 8px;">
  <div class="form-group">
    <label for="f_name" style="width: 120px;">First Name</label>
    <input type="text" name="f_name" id="f_name">
  </div>
    <div class="form-group">
    <label for="l_name" style="width: 120px;">Last Name</label>
    <input type="text" name="l_name" id="l_name">
    </div>
      <div class="form-group">
    <label for="business_name" style="width: 120px;">Business Name</label>
    <input type="text" name="business_name" id="business_name">
      </div>
        <div class="form-group">
    <label for="phone" style="width: 120px;">Phone</label>
    <input type="text" name="phone" id="phone">
    </div>
      <div class="form-group">
    <label for="email" style="width: 120px;">Email</label>
    <input type="email" name="email" id="email">
    </div>
      <div class="form-group">
    <label for="country" style="width: 120px;">Country</label>
    <input type="text" name="country" id="country">
      </div>
        <div class="form-group">
    <label for="state" style="width: 120px;">State</label>
    <input type="text" name="state" id="state">
        </div>
        <hr style="box-shadow: 0 0 5px white; border: solid 1px white;">
<div class="input-group my-4">
  <div class="input-group-prepend">
    <span class="input-group-text">Questions</span>
  </div>
  <textarea class="form-control" name="info_body" aria-label="With textarea"></textarea>
</div>
    <input type="submit" value="Submit" style="display: block; width: 100%;">
</form>

<p class="text-center my-2">Connecticut License #HMPG.000085.COND</p>