<h1 class="text-center my-4">Employee Dashboard</h1>

<p class="text-center">Time Clock Not Running Yet</p>
<form action="/employee" method="PUT">
<input type="time" name="time" style="width: 100%;">
<button type="submit" name="clock_in" class="btn btn-outline-success btn-lg btn-block my-4">Clock In</button>
</form>
<form action="/employee" method="PUT">
<input type="time" name="time" style="width: 100%;">
<button type="button" name="clock_out" class="btn btn-outline-danger btn-lg btn-block my-4">Clock Out</button>
</form>

<form action="/employee" method="POST" style="background: rgb(238,89,36); color: white; padding: 30px; border-radius: 8px; padding-top: 5px;">
<h3 class="text-center my-4">Add New Employee</h3>
  <div class="form-group">
    <label for="f_name" style="width: 120px;">First Name</label>
    <input type="text" name="f_name" id="f_name_employee">
  </div>
    <div class="form-group">
    <label for="l_name" style="width: 120px;">Last Name</label>
    <input type="text" name="l_name" id="l_name_employee">
    </div>

        <div class="form-group">
    <label for="phone" style="width: 120px;">Phone</label>
    <input type="text" name="phone" id="phone_employee">
    </div>
      <div class="form-group">
    <label for="email" style="width: 120px;">Email</label>
    <input type="email" name="email" id="email_employee">
    </div>
      <div class="form-group">
    <label for="country" style="width: 120px;">Country</label>
    <input type="text" name="country" id="country_employee">
      </div>
        <div class="form-group">
    <label for="state" style="width: 120px;">State</label>
    <input type="text" name="state" id="state_employee">
        </div>
        <div class="form-group">
    <label for="department" style="width: 120px;">Department</label>
    <input type="text" name="department" id="department_employee">
        </div>
       
    <input type="submit" value="Submit" style="display: block; width: 100%;" class="my-4">
</form>

{{!-- Add New Plant --}}
<form action="/plant" method="POST" style="background: rgb(238,89,36); color: white; padding: 30px; border-radius: 8px; padding-top: 5px; margin-top: 30px; margin-bottom: 30px;">
<h3 class="text-center my-4">Add New Species</h3>
  <div class="form-group">
    <label for="name" style="width: 120px;">Name</label>
    <input type="text" name="name" id="name">
  </div>
    <div class="form-group">
    <label for="s_name" style="width: 120px;">Scientific Name</label>
    <input type="text" name="s_name" id="s_name">
    </div>

        <div class="form-group">
    <label for="thc" style="width: 120px;">THC</label>
    <input type="text" name="thc" id="thc">
    </div>
      <div class="form-group">
    <label for="thcv" style="width: 120px;">THCV</label>
    <input type="text" name="thcv" id="thcv">
    </div>
      <div class="form-group">
    <label for="cbd" style="width: 120px;">CBD</label>
    <input type="text" name="cbd" id="cbd">
      </div>
        <div class="form-group">
    <label for="cbg" style="width: 120px;">CBG</label>
    <input type="text" name="cbg" id="cbg">
        </div>
        <div class="form-group">
    <label for="cbn" style="width: 120px;">CBN</label>
    <input type="text" name="cbn" id="cbn">
        </div>
        <div class="form-group">
    <label for="genetics" style="width: 120px;">Genetics</label>
    <input type="text" name="genetics" id="genetics">
        </div>
        <div class="form-group">
    <label for="effect" style="width: 120px;">Effect</label>
    <input type="text" name="effect" id="effect">
        </div>
       
    <input type="submit" value="Submit" style="display: block; width: 100%;" class="my-4">
</form>

{{!-- Add New Inventory Item --}}
<form action="/inventory" method="POST" style="background: rgb(0,0,0); color: white; padding: 30px; border-radius: 8px; padding-top: 5px; margin-top: 30px; margin-bottom: 30px;">
<h3 class="text-center my-4">Add New Inventory Item</h3>
  <div class="form-group">
    <label for="item_name" style="width: 120px;">Item Name</label>
    <input type="text" name="item_name" id="item_name">
  </div>
    <div class="form-group">
    <label for="item_location" style="width: 120px;">Item Location</label>
    <input type="text" name="item_location" id="item_location">
    </div>

        <div class="form-group">
    <label for="item_number" style="width: 120px;">Item Number</label>
    <input type="text" name="item_number" id="item_number">
    </div>
      <div class="form-group">
    <label for="item_category" style="width: 120px;">Item Category</label>
    <input type="text" name="item_category" id="item_category">
    </div>
      <div class="form-group">
    <label for="item_make" style="width: 120px;">Item Make</label>
    <input type="text" name="item_make" id="item_make">
      </div>
        <div class="form-group">
    <label for="item_model" style="width: 120px;">Item Model</label>
    <input type="text" name="item_model" id="item_model">
        </div>
        <div class="form-group">
    <label for="item_price" style="width: 120px;">Item Price</label>
    <input type="text" name="item_price" id="item_price">
        </div>
        <div class="form-group">
    <label for="item_qty" style="width: 120px;">Quantity</label>
    <input type="number" name="item_qty" id="item_qty">
        </div>
        <div class="form-group">
    <label for="item_need" style="width: 120px;">Need</label>
    <input type="number" name="item_need" id="item_need">
        </div>
        <div class="form-group">
    <label for="item_url" style="width: 120px;">URL</label>
    <input type="text" name="item_url" id="item_url">
        </div>
       
    <input type="submit" value="Submit" style="display: block; width: 100%;" class="my-4">
</form>