<h1 class="text-center my-4">Home</h1>

<p  class="text-center" style="display: block;">ACCEPTING FALL FLOWER PRE-ORDERS </p>
<a  class="text-center my-4" style="display: block;" href="tel:8603640403">860.364.0403</a>
<div class="card mb-3" style="max-width: 1100px;">
  <div class="row no-gutters">
    <div class="col-md-8">
      <img src="/images/home1.webp" class="card-img" alt="Home 1">
    </div>
    <div class="col-md-4">
      <div class="card-body align-items-center" style="background: rgb(238,89,36);">
        <h2 class="my-8" style="color: white; ">Have you considered off-season custom growing?</h2>
      </div>
    </div>
  </div>
</div>