<h1 class="text-center my-4">Home</h1>

<p  class="text-center" style="display: block;">ACCEPTING FALL FLOWER PRE-ORDERS </p>
<a  class="text-center my-4" style="display: block;" href="tel:8603640403">860.364.0403</a>
<div class="card mb-3" style="max-width: 1100px; box-shadow: none;">
  <div class="row no-gutters">
    <div class="col-md-8">
      <img src="/images/home1.png" class="card-img" alt="Home 1">
    </div>
    <div class="col-md-4">
      <div class="card-body align-items-center" style="background: rgb(238,89,36);">
        <h2 class="my-8" style="color: white; ">Have you considered off-season custom growing?</h2>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 1100px; box-shadow: none;">
  <div class="row no-gutters">
    <div class="col-md-8">
      <img src="/images/zunbudz-logo.png" class="card-img" alt="Zunbudz Logo">
    </div>
    <div class="col-md-4">
      <div class="card-body align-items-center" style="background: rgb(238,89,36);">
        <p>Coming Soon! . . . the finest CBD flower under the zun. Specialty seed from California organically cultivated in our greenhouses and cured our own way.  Available in Bud, Chop, and Puck. Order now . . . Quantities limited.  Call Phil today: <a href="tel:8609863430">860.986.3430</a>.</p>
      </div>
    </div>
  </div>
</div>

<h1 class="text-center">Connect With Us</h1>
<hr>
<div class="text-center">
<span style="font-size: 2rem;">F</span><span style="font-size: 2rem;">T</span><span style="font-size: 2rem;">I</span>
</div>

<div class="card mb-3" style="max-width: 1100px; box-shadow: none;">
  <div class="row no-gutters">
    <div class="col-md-8">
      <img src="/images/hendrx-logo.png" class="card-img" alt="Zunbudz Logo">
    </div>
    <div class="col-md-4">
      <div class="card-body align-items-center" style="background: rgb(238,89,36);">
        <h3>Superior genetics direct from California to us.</h3>
        <p>Our exclusive partnership with Hendrx Farm of Humboldt County delivers the best of the west to our greenhouse. Call us at <a href="tel:8603640403">860-364-0403</a> or email us: <a href="mailto:northwestcultivation@gmail.com">northwestcultivation@gmail.com</a></p>
      </div>
    </div>
  </div>
</div>
