<h1 class="text-center my-4">Plants</h1>

<hr class="my-4" style="box-shadow: 0 0 4px black; border: solid 1px rgb(138,58,11);">


<div class="shop-item">
                    <span class="shop-item-title">Apollo</span>
                    <img class="shop-item-image" src="images/apollo.png">
                    <div class="shop-item-description">
                      <span class="item-description">CBD: Up to 11% - Frost tolerant, highly mold/mildew resistant, high terpene content provides general pest resistance, spicy-peppery flavor with fruity overtones. Germination rate 91%.</span>
                    </div>
                    <hr>
                    <div class="shop-item-details">
                        <span class="shop-item-price">$19.00</span>
                        <button class="btn btn-success shop-item-button" type="button">Add to Cart</button>
                    </div>
                </div>
<div class="shop-item">
     <span class="shop-item-title">Eighty-Eight</span>
     <img class="shop-item-image" src="images/eighty-eight.png">
      <div class="shop-item-description">
       <span class="item-description">CBD: Up to 12% - High terpene content provides general resistance to most pests, earthy tones with sweet honey-like aroma. Germination rate 94%.</span>
     </div>
     <hr>
     <div class="shop-item-details">
         <span class="shop-item-price">$22.00</span>
         <button class="btn btn-success shop-item-button" type="button">Add to Cart</button>
     </div>
 </div>
<div class="shop-item">
     <span class="shop-item-title">Painted Lady</span>
     <img class="shop-item-image" src="images/painted-lady.png">
      <div class="shop-item-description">
       <span class="item-description">CBD: Up to 12% - Hearty, frost tolerant, vigorous growth and rapid root. High terpene content, general pest resistance. Profiles of lemongrass and citrus with diesel and gas overtones. Germination rate 91%.</span>
     </div>
     <hr>
     <div class="shop-item-details">
         <span class="shop-item-price">$24.00</span>
         <button class="btn btn-success shop-item-button" type="button">Add to Cart</button>
     </div>
 </div>
<div class="shop-item">
     <span class="shop-item-title">Purple Emperor</span>
     <img class="shop-item-image" src="images/purple-emperor.png">
      <div class="shop-item-description">
       <span class="item-description">CBD: Up to 12% - High terpene content provides general resistance to most pests. Sweet citrus and floral profile. Germination rate 85%.</span>
     </div>
     <hr>
     <div class="shop-item-details">
         <span class="shop-item-price">$26.00</span>
         <button class="btn btn-success shop-item-button" type="button">Add to Cart</button>
     </div>
 </div>
<div class="shop-item">
     <span class="shop-item-title">Skipper</span>
     <img class="shop-item-image" src="images/skipper.png">
      <div class="shop-item-description">
       <span class="item-description">CBD: Up to 15% - Frost tolerant, high terpene content. General resistance to most pests. Herbal core aroma with eucalyptus and menthol notes balanced by sweet citrus and pine. Germination rate 89%.</span>
     </div>
     <hr>
     <div class="shop-item-details">
         <span class="shop-item-price">$23.00</span>
         <button class="btn btn-success shop-item-button" type="button">Add to Cart</button>
     </div>
 </div>
<div class="shop-item">
     <span class="shop-item-title">Sylphina</span>
     <img class="shop-item-image" src="images/sylphina.png">
      <div class="shop-item-description">
       <span class="item-description">CBD: Up to 11% - Extremely hearty, highly mold/mildew resistant. High terpene content, general pest resistance. Aromatic of florals and earthy flavors. Germination rate 94%.</span>
     </div>
     <hr>
     <div class="shop-item-details">
         <span class="shop-item-price">$36.00</span>
         <button class="btn btn-success shop-item-button" type="button">Add to Cart</button>
     </div>
 </div>
<div class="shop-item">
     <span class="shop-item-title">T1</span>
     <img class="shop-item-image" src="images/t1.png">
      <div class="shop-item-description">
       <span class="item-description">CBD: Up to 12% - An indica heavy hybrid with terpene-rich high yields. Mold resistant with berry and pine aroma. Clones only.</span>
     </div>
     <hr>
     <div class="shop-item-details">
         <span class="shop-item-price">$18.00</span>
         <button class="btn btn-success shop-item-button" type="button">Add to Cart</button>
     </div>
 </div>
<div class="shop-item">
     <span class="shop-item-title">Chardonnay</span>
     <img class="shop-item-image" src="images/chardonnay.png">
      <div class="shop-item-description">
       <span class="item-description">CBD: Up to 13% - Mixture of Black Rose and Cherry Wine with a potent terpene profile. Flavor and aroma is sweet with strawberry and rhubarb undertones. Clones only.</span>
     </div>
     <hr>
     <div class="shop-item-details">
         <span class="shop-item-price">$20.00</span>
         <button class="btn btn-success shop-item-button" type="button">Add to Cart</button>
     </div>
 </div>
<div class="shop-item">
     <span class="shop-item-title">Kompolti</span>
     <img class="shop-item-image" src="images/kompolti.png">
      <div class="shop-item-description">
       <span class="item-description">Ideal strain for industrial end-use. European-derived varietal, high fiber and oil content. High stem production.</span>
     </div>
     <hr>
     <div class="shop-item-details">
         <span class="shop-item-price">$16.00</span>
         <button class="btn btn-success shop-item-button" type="button">Add to Cart</button>
     </div>
 </div>
{{> cart}}