<h1 class="text-center my-4">Products</h1>

<hr class="my-4">

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/images/cbd-oil1.jpg" class="card-img" alt="CBD Oil">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">CBD Oil</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/images/cbd-gummies1.jpg" class="card-img" alt="CBD Gummies">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">CBD Gummies</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>