<h1>Success</h1>

<h3>Your request has been sent.</h3>

<div style="text-align: center; font-size: 2rem; margin-top: 50px;">

<p>
<a href="/">Home</a>
</p>
<p>
<a href="/about">About</a>
</p>
<p>
<a href="/contact">Contact</a>
</p>
<p>
<a href="/plants">Products</a>
</p>
</div>